.border-blue {
  border-color: var(--border-blue) !important;
}

.CourseraLogo {
  width: var(--logo-width);
  height: var(--logo-height);
}

.login-link {
  color: var(--login-link-color) !important;
}

.login-link:hover {
  text-decoration: var(--login-link-hover-decoration) !important;
}

.nav-links {
  margin-left: var(--nav-links-margin-left);
}

.searchbar {
  width: var(--searchbar-width) !important;
  border-radius: var(--searchbar-border-radius);
}

.formcontrol {
  border-radius: var(--searchbar-border-radius);
}

.formcontrol:focus {
  border: var(--searchbar-focus-border-color);
  outline: none;
}
