@media (max-width: 768px) {
    .Maindiv {
      max-height: auto;
    }
  
    .fdiv {
      max-height: auto; 
    }
  
    .seconddiv {
      width: 100%;
    }
  
    .ptag {
      height: auto;
      font-size: 1rem;
    }
  
    .lifirst {
      border-top: none;
    }
  }
  
  /* For Mobile Phones */
  @media (max-width: 576px) {
    .Maindiv {
      max-height: auto;
    }
  
    .fdiv {
      max-height: auto;
    }
  
    .seconddiv {
      width: 100%;
    }
  
    .ptag {
      height: auto; 
      font-size: 0.875rem;
    }
  
    .lifirst {
      border-top: none;
    }
  }